{% extends 'base.html' %}


{% block title %}

Stock Alerts

{% endblock %}




{% block content %}


<div class="container-fluid">



<!-- Header -->

<div class="d-flex justify-content-between align-items-center mb-4">


<div>


<h2 class="fw-bold">


<i class="bi bi-bell-fill me-2 text-danger"></i>


Stock Alerts


</h2>



<p class="text-muted">


Products requiring attention.


</p>


</div>




<button class="btn btn-primary">


<i class="bi bi-envelope me-2"></i>


Notify Managers


</button>



</div>





<!-- Alert Summary -->


<div class="row g-4 mb-4">



<div class="col-md-4">


<div class="card dashboard-card border-danger">


<p class="text-danger">


Critical Stock


</p>


<h2>


5


</h2>


<span>


Products almost finished

</span>


</div>


</div>





<div class="col-md-4">


<div class="card dashboard-card border-warning">


<p class="text-warning">


Low Stock


</p>


<h2>


17


</h2>


<span>


Need monitoring

</span>


</div>


</div>





<div class="col-md-4">


<div class="card dashboard-card border-success">


<p class="text-success">


Normal


</p>


<h2>


2525


</h2>


<span>


Available products

</span>


</div>


</div>



</div>






<!-- Alert Table -->


<div class="card">


<div class="card-header">


<h5 class="fw-bold">


Inventory Warnings


</h5>


</div>





<div class="table-responsive">


<table class="table table-hover align-middle">



<thead>


<tr>


<th>Product</th>

<th>Category</th>

<th>Agency</th>

<th>Current Stock</th>

<th>Minimum Stock</th>

<th>Priority</th>

<th>Action</th>


</tr>


</thead>




<tbody>




<tr>


<td>


HP EliteBook 840 G8


</td>



<td>


Laptop


</td>



<td>


Douala


</td>



<td class="text-danger fw-bold">


2


</td>



<td>


10


</td>



<td>


<span class="badge bg-danger">


Critical


</span>


</td>




<td>


<button class="btn btn-sm btn-primary">


Restock


</button>


</td>


</tr>






<tr>


<td>


Dell Monitor


</td>



<td>


Accessories


</td>



<td>


Yaoundé


</td>



<td>


5


</td>



<td>


15


</td>



<td>


<span class="badge bg-warning">


Low


</span>


</td>




<td>


<button class="btn btn-sm btn-primary">


Restock


</button>


</td>


</tr>







<tr>


<td>


Canon Printer


</td>



<td>


Printer


</td>



<td>


Bafoussam


</td>



<td>


1


</td>



<td>


8


</td>



<td>


<span class="badge bg-danger">


Critical


</span>


</td>




<td>


<button class="btn btn-sm btn-primary">


Restock


</button>


</td>


</tr>






</tbody>



</table>


</div>



</div>





</div>



{% endblock %}