{% extends 'base.html' %}


{% block title %}

Stock Adjustment

{% endblock %}



{% block content %}


<div class="container-fluid">


<!-- Header -->

<div class="d-flex justify-content-between align-items-center mb-4">


<div>


<h2 class="fw-bold">


<i class="bi bi-sliders me-2"></i>


Stock Adjustment


</h2>


<p class="text-muted">


Modify inventory quantities with proper tracking.


</p>


</div>


</div>

{% include 'components/messages.html' %}


<!-- Form Card -->


<div class="card">


<div class="card-body">


<form method="POST">


{% csrf_token %}



<div class="row g-4">


<!-- Product -->


<div class="col-md-6">

<label class="form-label" for="{{ form.product.id_for_label }}">Product</label>

{{ form.product }}
{{ form.product.errors }}

</div>


<!-- Agency -->


<div class="col-md-6">

<label class="form-label" for="{{ form.agency.id_for_label }}">Agency</label>

{{ form.agency }}
{{ form.agency.errors }}

</div>


<!-- Adjustment Type -->


<div class="col-md-6">

<label class="form-label" for="{{ form.adjustment_type.id_for_label }}">Adjustment Type</label>

{{ form.adjustment_type }}
{{ form.adjustment_type.errors }}

</div>


<!-- Quantity -->


<div class="col-md-6">

<label class="form-label" for="{{ form.quantity.id_for_label }}">Quantity</label>

{{ form.quantity }}
{{ form.quantity.errors }}

</div>


<!-- Reason -->


<div class="col-md-12">

<label class="form-label" for="{{ form.reason.id_for_label }}">Reason</label>

{{ form.reason }}
{{ form.reason.errors }}

</div>


<!-- Responsible User -->


<div class="col-md-6">

<label class="form-label" for="{{ form.performed_by.id_for_label }}">Responsible Employee</label>

{{ form.performed_by }}
{{ form.performed_by.errors }}

</div>


<!-- Reference -->


<div class="col-md-6">

<label class="form-label" for="{{ form.reference.id_for_label }}">Reference Number</label>

{{ form.reference }}
{{ form.reference.errors }}

</div>


</div>





<hr class="my-4">





<div class="d-flex justify-content-end">


<a href="{% url 'inventory_list' %}" class="btn btn-secondary me-2">

Cancel

</a>




<button

type="submit"

class="btn btn-primary">


<i class="bi bi-check-circle me-2"></i>


Save Adjustment


</button>



</div>



</form>


</div>


</div>




</div>


{% endblock %}