{% load static %}
<aside class="sidebar">

    <div class="logo">

        <img src="{% static 'img/logo.png' %}" alt="logo">

        <h4>SoftExpress</h4>

    </div>

    <ul class="menu">

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="menu-title">
            MANAGEMENT
        </li>

        <li>
            <a href="{% url 'agency_list' %}">
                <i class="bi bi-building"></i>
                Agencies
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-box-seam"></i>
                Products
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-diagram-3"></i>
                Categories
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-archive"></i>
                Inventory
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-arrow-left-right"></i>
                Transfers
            </a>
        </li>

        <li class="menu-title">
            PEOPLE
        </li>

        <li>
            <a href="{% url 'employee_list' %}">
                <i class="bi bi-people"></i>
                Employees
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-person-vcard"></i>
                Clients
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-truck"></i>
                Suppliers
            </a>
        </li>

        <li class="menu-title">
            SALES
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cart-check"></i>
                Sales
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-receipt"></i>
                Invoices
            </a>
        </li>

        <li class="menu-title">
            ANALYTICS
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bar-chart-line"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-graph-up-arrow"></i>
                Analytics
            </a>
        </li>

        <li class="menu-title">
            ADMINISTRATION
        </li>

        <li>
            <a href="#">
                <i class="bi bi-person-gear"></i>
                Users
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-gear"></i>
                Settings
            </a>
        </li>

        <li>
            <a href="{% url 'Logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</aside>