
{% extends 'base.html' %}
{% block title %}Catégories{% endblock %}
{% block header_title %}Gestion des Catégories{% endblock %}

{% block content %}
<div class="panel-card">
    <table class="activity-table">
        <thead>
            <tr><th>Nom</th><th>Description</th><th>Actions</th></tr>
        </thead>
        <tbody>
            {% for cat in categories %}
            <tr>
                <td>{{ cat.name }}</td>
                <td>{{ cat.description }}</td>
                <td><button>Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}